.logo {
    overflow: auto;
}

.logo-image {
    float: left;
}

.logo-image img {
    width: 40px;
    height: 40px;
    margin: 5px 5px 0 0;
}

.logo-image img {
    display: block;
}

.logo a {
    font-weight: bold;
}

.centerize {
    text-align: center;
}

.break {
    page-break: always;
}