.logo {
    overflow: auto;
}

.logo-image {
    float: left;
}

.logo-image img {
    width: 40px;
    height: 40px;
    margin: 5px 5px 0 0;
}

.logo-image img {
    display: block;
}

.logo a {
    font-weight: bold;
}

.centerize {
    text-align: center;
}

.break {
    page-break: always;
}

.services {
    margin: 50px 15px 20px 15px;
    text-align: center;
}

.services-link {
    margin-top: 50px;
}

.services-link-control {
    margin: 50px 0;
}